body {
  background-color: var(--color-white);
  color: var(--color-primary-text);
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.2;
}

a {
  text-decoration: none;
  color: inherit;
}

.list {
  list-style: none;
}

.link,
.icon {
  transition-duration: var(--effect-time);
  transition-timing-function: var(--effect-function);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding-inline-start: 0;
}

img {
  display: block;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

// aproved
.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
