.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  margin-bottom: 50px;
}

.buttons li:not(:last-child) {
  margin-right: 8px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-card {
  width: calc((100% - 60px) / 3);

  margin-bottom: 30px;
}

.portfolio-card-link {
  transition-duration: var(--effect-time);
  transition-timing-function: var(--effect-function);
}

.portfolio-card-link:hover,
.portfolio-card-link:focus {
  display: block;

  box-shadow: 1px 4px 6px 0px #00000029;
  box-shadow: 0px 4px 4px 0px #0000000f;
  box-shadow: 0px 1px 1px 0px #0000001f;
}

.portfolio-card:not(:nth-child(3n)) {
  margin-right: 30px;
}

.portfolio-card:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.portfolio-image {
  position: relative;
  overflow: hidden;
}

.portfolio-about {
  position: absolute;
  top: 0;
  transform: translate(0, 101%);

  transition-property: transform;
  transition-duration: var(--effect-time);
  transition-timing-function: var(--effect-function);

  display: flex;
  align-items: center;

  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);

  padding-left: 24px;
  padding-right: 24px;

  font-size: 18px;
  line-height: 1.56;
  color: var(--color-white);
}

.portfolio-card-link:hover .portfolio-about,
.portfolio-card-link:focus .portfolio-about {
  transform: translate(0, 0);
}

.portfolio-text {
  padding: 20px 24px;

  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.portfolio-title {
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-description {
  color: var(--color-secondary-text);
  font-size: 16px;
  line-height: 1.87;
}
