.team {
  background-color: #f5f4fa;
}

.list.team {
  display: flex;
  flex-wrap: wrap;
}

.card-team:not(:last-child) {
  margin-right: 30px;
}

.card-team {
  width: calc((100% - 90px) / 4);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  padding-bottom: 30px;

  background-color: var(--color-white);
}

.team-photo {
  margin-bottom: 30px;
}

.team-title {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  text-align: center;
}

.team-discription {
  color: var(--color-secondary-text);
  font-size: 16px;
  text-align: center;
  margin-bottom: 16px;
}

.list.team-social {
  display: flex;
  justify-content: center;
}

.team-social li:not(:last-child) {
  margin-right: 10px;
}

.team-social .icon {
  display: block;
  width: 44px;
  height: 44px;
  padding-left: 12px;
  padding-top: 12px;
  fill: #afb1b8;
  border-radius: 50%;
}

.team-social .icon:hover,
.team-social .icon:focus {
  fill: var(--color-white);
  background-color: var(--color-accent);
}
